<!-- <nav id="" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"> -->
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="/controlcenter">Control Center</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/rbc">RBC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/deployment">Deployment</a>
            </li>
        </ul>
    </div>
<!-- </nav> -->